%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: ""}

    %title Le Swan - French Diner
    %link{rel: "stylesheet", type: "text/css", media: "all", href: "public/assets/css/index.css"}

  %body
    %header
      %h2
        French Diner
        %span 892 Queen St W, Toronto
      %h1 Le Swan
      %h2
        %a
          Reservations
          %span Oui.

    %section.le-swan-section__wrapper
      .le-swan-section__masthead
        hi

    %section.le-swan-section__wrapper
      .le-swan-section__intro
        .le-swan-section__intro-left
          %h3
            Attend
            %span A French Diner?

          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .le-swan-section__intro-right
          %ul
            %li
              %h4
                heures
                %span.le-swan-header__subtitle Wednesday to Sunday
            %li
              %h4
                appel
                %span.le-swan-header__subtitle (416) 767-1817
            %li
              %h4
                instagram
                %span.le-swan-header__subtitle @leswanfrenchdiner

    %section.le-swan-section__wrapper
      .le-swan-section__menu
        %h5 Menu

        .le-swan-menu__dinner
          .le-swan-menu__headers
            %h6 French
            %h6 Diner
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Oysters
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Devils on Horseback
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Tuna Melt
              %span.le-swan-menu__list-item-price 15

        .le-swan-menu__dessert
          .le-swan-menu__headers
            %h6 Dessert
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Banana Souflée
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Banana Cream Pie
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Flambé Cherries
              %span.le-swan-menu__list-item-price 15

        .le-swan-menu__milkshakes
          .le-swan-menu__headers
            %h6 Milkshakes
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Milkshake #1
              %span.le-swan-menu__list-item-price 15
