%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: ""}

    %title Le Swan - French Diner
    %link{rel: "stylesheet", type: "text/css", media: "all", href: "public/assets/css/index.css"}

  %body
    %header.le-swan-header
      %h2.le-swan-header__box
        %span.le-swan-header__box-inner
          French Diner
          %span.le-swan-header__box-subtitle 892 Queen St W, Toronto
      %h1.le-swan-header__box
        %span.le-swan-header__box-inner Le Swan
      %h2.le-swan-header__box
        %span.le-swan-header__box-inner
          %a
            Reservations
            %span.le-swan-header__box-subtitle Oui.

    %section.le-swan-section
      .le-swan-section__masthead.le-swan-section_inner
        %img{src: "./public/assets/images/masthead.png"}

    %section.le-swan-section
      .le-swan-section__intro.le-swan-section_inner
        .le-swan-section__intro-left
          %h3
            Attend.
            %span A French Diner?

          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .le-swan-section__intro-right.le-swan__callout
          %ul
            %li
              %h4
                heures
                %span.le-swan-header__subtitle Wednesday to Sunday
            %li
              %h4
                appel
                %span.le-swan-header__subtitle (416) 767-1817
            %li
              %h4
                instagram
                %span.le-swan-header__subtitle @leswanfrenchdiner

    %section.le-swan-section
      .le-swan-section__menu.le-swan-section_inner
        %h5 Menu

        .le-swan-menu__dinner
          .le-swan-menu__headers
            %h6 French
            %h6 Diner
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Oysters
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Devils on Horseback
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Tuna Melt
              %span.le-swan-menu__list-item-price 15

        .le-swan-menu__dessert
          .le-swan-menu__headers
            %h6 Dessert
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Banana Souflée
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Banana Cream Pie
              %span.le-swan-menu__list-item-price 15
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Flambé Cherries
              %span.le-swan-menu__list-item-price 15

        .le-swan-menu__milkshakes
          .le-swan-menu__headers
            %h6 Milkshakes
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name Milkshake #1
              %span.le-swan-menu__list-item-price 15
        .le-swan-menu__fondue.le-swan__callout
          %h3
            Late night fondue!
            %span 10pm - 2am
    %section.le-swan-section
      .le-swan-section__wine.le-swan-section_inner
        %h5 Wine

        .le-swan-menu__white-wine
          .le-swan-menu__headers
            %h6 White
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64

        .le-swan-menu__red-wine
          .le-swan-menu__headers
            %h6 Red
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64

        .le-swan-menu__rose-wine
          .le-swan-menu__headers
            %h6 Rosé
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64

        .le-swan-menu__orange-wine
          .le-swan-menu__headers
            %h6 Orange
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64

        .le-swan-menu__sparkling-wine
          .le-swan-menu__headers
            %h6 Bubbles
          %ul.le-swan-menu__list
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64
            %li.le-swan-menu__list-item
              %span.le-swan-menu__list-item-name
                Langoureau ‘16 Bourgogne Aligoté
                %span Burgundy, Fra
              %span.le-swan-menu__list-item-price 15/64

    %section.le-swan-section
      .le-swan-section__people.le-swan-section_inner
        %h5 People

        .le-swan-section__people
          %h3
            Jen Agg
            %span Owner
          %p I refuse to speak about myself in the third person, as though I didn't write all these bios, so this is awkward. I like building restaurants, my first, The Black Hoof is still the heartbeat of my company, which mostly takes up a small block on Dundas West in Toronto (along with Rhum Corner and Cocktail Bar). In early 2016, with my husband, artist, Roland Jean and Win Butler & Régine Chassagne (of Arcade Fire) we opened Rhum spin-off restaurant Agrikol in Montreal + a little bar next door, ti agrikol. Also, I wrote a book 'I Hear She's a Real Bitch', so it's been kind of a busy year. But it's most important to note that I am, above all, more fun than at first I might appear. Much more fun. I like wine. No. I love wine.
