@import url(./normalize.css);
/* -----------------------
  Colors
-------------------------*/
/* -----------------------
  Fonts
-------------------------*/
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
h3 {
  font-size: 46px; }
  h3 span {
    display: block;
    font-size: 20px; }

p {
  font-size: 18px;
  margin: 0 0 60px 0; }

html,
body {
  height: 100%;
  font-family: "Baskerville", "Libre Baskerville", serif;
  font-weight: 100;
  line-height: 24px; }

html {
  background: #fffffa; }

.le-swan-header {
  display: flex;
  padding: 30px; }

.le-swan-header__box {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center; }
  .le-swan-header__box .le-swan-header__box-subtitle {
    display: block;
    font-size: 12px;
    font-weight: 100; }
