/* -----------------------
  Fonts
-------------------------*/

@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");

$baskerville: "Baskerville", "Libre Baskerville", serif;

h1 {
}

h3 {
  font-size: 46px;
  span {
    display: block;
    font-size: 20px;
  }
}

p {
  font-size: 18px;
  margin: 0 0 60px 0;
}
